@page
@model PasswordRecoveryModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject IConfiguration Configuration
@using System.Web;
@using GS.Certifications.Web.Common.Resources
@using Microsoft.Extensions.Configuration
@using GS.Certifications.Web.Areas.Security.Pages
@inject IStringLocalizer<Shared> SharedLocalizer
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en" class="login">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@HttpUtility.HtmlDecode(Configuration.GetSection("Application").GetValue(typeof(string), "Name").ToString()) - @ViewBag.Title</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    @*<link  rel="stylesheet" href="~/css/bootstrap-small.css" />*@
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/b39e955174.js" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/js/menu.js" asp-append-version="true"></script>
    <style>
        .dropdown-item {
            width: 500px !important;
        }

        .fondo {
            background: url('@Url.Content("~/img/login-background1.png")') no-repeat center;
            background-size: cover;
            /* min-height: auto; */
            /* border-radius: 0 10px 10px 0; */
            padding: 0;
            /*position: absolute;*/
            top: 0;
            bottom: 0;
            right: 0;
            float: left;
        }

        ul {
            padding-left: 0px;
        }

        @@media (max-width: 1000px) {
            .fondo {
                /*width: 10%;*/
                max-width: 100%;
                height: auto;
                background: none;
                background-size: contain;
                /*Sin imagen*/
                /*max-width: 0%;
                        height: 0%;*/
            }

                .fondo div {
                    margin: 0 10px
                }
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row h-75">
            <div class="col-lg-6 col-sm-12 col-12 col-md-12 d-flex welcome-login-container fondo">
                <div class="row">
                    <div class="px-5 pt-5 mt-5">
                    </div>

                </div>



            </div>
            @*<div class="col-lg-6 col-sm-12 col-12 col-md-12 d-flex welcome-login-container fondo">
            <picture>
            <source media="(max-width: 799px)" srcset="~/img/x28_background_wide.png" />
            <source media="(min-width: 800px)" srcset="~/img/x28_background.png" />
            <img src="~/img/x28_background.png" />
            </picture>
            </div>*@

            <div class="col-lg-6 col-sm-12 vcenter d-flex align-items-center justify-content-center "
                 style="background-color: #FEFEFE;">

                <div class="col-lg-8 col-xl-6 col-sm-12 col-md-8 col-12 p-4">
                    <div class="justify-content-center">
                        @* <div style="display:flex; justify-content:center">
                            <img src="~/img/logo/ColoniaExpressLogo.png" alt="system_logo" class="img img-responsive img-fluid" />
                        </div> *@


                        <div class="col-lg-12" style="position:relative">
                            <hr />
                            <h1 class="welcome-login">
                                @HttpUtility.HtmlDecode(Configuration.GetSection("Application").GetValue(typeof(string), "Name").ToString())
                            </h1>
                            <hr />
                            <form method="post" action="" style="background-color: transparent;">

                                <div class="form-group col-12 text-center">
                                    <h2 class="login-main-text pb-2">@SharedLocalizer["Cambio de contraseña"]</h2>
                                </div>

                                @if (!Model.ModelState.IsValid)
                                {
                                    <div class="form-group col-12">
                                        <div asp-validation-summary="All" class="alert alert-danger text-center"></div>
                                    </div>
                                }

                                @if (Model.ModelState.IsValid)
                                {
                                    @if (!Model.PasswordChanged)
                                    {
                                        <div class="form-group col-12">
                                            <label class="col-form-label">@SharedLocalizer["Seleccione la nueva contraseña para"]<b> @Model.Email</b></label>
                                        </div>

                                        <div class="form-group col-12">
                                            <label class="col-form-label" asp-for="Password">@SharedLocalizer["Nueva contraseña"]</label>
                                            <input class="form-control" asp-for="Password" type="password" autofocus />
                                        </div>
                                        <div class="form-group col-12">
                                            <label class="col-form-label" asp-for="PasswordConfirmation">@SharedLocalizer["Repetir nueva contraseña"]</label>
                                            <input class="form-control" asp-for="PasswordConfirmation" type="password" />
                                        </div>

                                        <div class="form-group col-12 text-center">
                                            <button type="submit" class="btn btn-success">@SharedLocalizer["Cambiar Contraseña"]</button>
                                        </div>
                                    }

                                    @if (Model.PasswordChanged)
                                    {
                                        <a asp-area="security" asp-page="login" asp-route-email="@Model.Email">@SharedLocalizer["Ingresar como"] @Model.Email</a>
                                    }
                                }

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*<div class="container">
    <div class="row h-75">
    <div class="col-sm-12 vcenter">
    @if (!string.IsNullOrWhiteSpace(Model.Message))
    {
    <div class="alert alert-info">@Html.Raw(Model.Message)</div>
    }
    @if (!Model.PasswordRecoveryRequested)
    {
    <form method="post" action="">

    <div class="form-group offset-2 col-8 text-center">
    <h3>@Login.Title</h3>
    </div>

    @if (!Model.ModelState.IsValid)
    {
    <div class="form-group offset-4 col-4">
    <div asp-validation-summary="All" class="alert alert-danger text-center"></div>
    </div>
    }

    <div class="form-group offset-4 col-4">
    <label class="col-form-label" asp-for="Username"></label>
    <input class="form-control" asp-for="Username" autofocus />
    </div>

    <div class="form-group offset-4 col-4 pb-2">
    <label class="col-form-label" asp-for="Password"></label>
    <input class="form-control" asp-for="Password" type="password" />
    </div>

    <input asp-for="ReturnUrl" />

    <div class="form-group offset-3 col-6 text-center">
    <button type="submit" asp-page-handler="" tabindex="0" class="btn btn-success">@Login.IngresarAlSistema</button>
    <button type="submit" asp-page-handler="PasswordRecovery" class="btn btn-secondary align-left">@Login.OlvideMiContraseña</button>
    </div>

    </form>
    }
    </div>
    </div>
    </div>*@
    <script src="~/lib/jquery/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/localStorage.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            clearLocalStorage();
        });
    </script>
</body>
</html>
