@model GSF.Application.Security.Options.Queries.OptionDto

@if (Model.Options != null && Model.Options.Any())
{
    @foreach (var childOption in Model.Options)
    {
        @await Html.PartialAsync("_sideBarOption", childOption, ViewData)
    }
}
else
{
    <!-- Opción sin submenú (se muestra directamente) -->
    <div class="">
        <div class="menu-item">
            <a class="d-flex align-items-center"
               optionId="@Model.Id"
               href="javascript:RedirectToOption(@Model.Id, @Model.ParentId, '@Model.Url');"
               indent="@ViewData["optionLevel"]">
                <i class="@Model.Icon"></i> <span class="ms-1">@Model.Name</span>
            </a>
        </div>
    </div>
}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const currentOptionId = window.sessionStorage.getItem("currentOptionId");

        if (currentOptionId) {
            document.querySelectorAll(".menu-item").forEach(menuItem => {
                const link = menuItem.querySelector("a"); // Obtiene el <a> dentro del div

                if (link && link.getAttribute("optionid") === currentOptionId) {
                    console.log(link.getAttribute("optionid"));
                    link.classList.add("menu-item-active"); // Aplica el estilo activo
                } else {
                    console.log(link ? link.getAttribute("optionid") : "No link found");
                    link.classList.remove("menu-item-active"); // Elimina la clase de otras opciones
                }
            });
        }
    });
</script>
